<% if GAME.evaluate == nil %>
  Please make a selection: 
<% elsif GAME.evaluate == "Draw" %>
 Nobody wins! It is a draw! 
<% else %>
  <%= GAME.evaluate.name %> wins!
<% end %>

<form method="post" action="/ai">
  <input type="submit" name="user_rps" value=Rock>
  <input type="submit" name="user_rps" value=Paper>
  <input type="submit" name="user_rps" value=Scissors>
</form>

