<!DOCTYPE html>

<html>
  <head>
    <title>Rock, Paper, Scissors</title>
    <link rel="stylesheet" type="text/css" href="css/rps.css">
    <meta http-equiv="refresh" content="3">
  </head>
  <body>
  <h1> ROCK, PAPER, SCISSORS</h1>

    <p>
    
    <%= yield %>


  </body>

</html>